

name: Build and Test

concurrency:
  group: ${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - master
  schedule:
    - cron: "0 13 * * *"  # Run daily at 1PM UTC.

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name : Develop and Test Locally
        run : npm run dev
        
      - name: Lint
        run: npm run lint
      
      - name : Build for Production
        run :  npm run build

      - name : Public
        run : npm publish

  
